<img src="/images/thinrule.gif" width="100%" height="7" alt="thinrule"/>

  <p>An Unexpected Error Occured.</p>

  <% if @log_id %>
  <p>
      The adminstrators have been informed. The reference number for this
 incident: <%=h @log_id%>.
  </p>
  <% end %>

  <p>
    <a href="<%=h @path_prefix %>">Return to the Rideboard</a>.
  </p>
		  
<img src="/images/thinrule.gif" width="100%" height="7" alt="thinrule"/>
