<img src="/images/thinrule.gif" width="100%" height="7" alt="thinrule"/>

<p> 
    Entry has already been removed from the board.
    <a href="<%=h @path_prefix %>">View
 active listings</a>.
</p>
		  
<img src="/images/thinrule.gif" width="100%" height="7" alt="thinrule"/>
