<img src="/images/thinrule.gif" width="100%" height="7" alt="thinrule"/>

<p>Venue <b><%=h @venue_name %></b> not found.</p>
		  
<img src="/images/thinrule.gif" width="100%" height="7" alt="thinrule"/>
