<p class="title" align="center">Removal code reminder</p>
    <fieldset>
    <div id="center_form">
    <h3 align="center">Email message sent to '<%= @listing.name %>'</h3
    </div>
  </fieldset>
</p>
    <p>
    <a href="<%= "../../../#{@board.id}" %>">Return to rideboard</a>
    </p>
